{{ define "main" }}
<article class="post">
  <header>
    <h2>{{ .Title }}</h2>
    <p>
    Af {{ .Params.Author }}, Privat
    </p>
    <p>
      Publiceret {{ .Date.Format "2006-01-02" }}
      <span class="tags">
        in
        {{ range .Params.tags }}
          <a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </span>
    </p>
    <p>
    Læsetid: {{ math.Round (div (countwords .Content) 200.0) }} minutter
    </p>
  </header>
    <section class="body">
      {{ .Content }}
    </section>
</article>
{{ end }}